.welcome {
    text-align: center;
    padding-top: 340px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 90px;
    
}



/*this is the css for the nav bar and the nav bar links / buttons  and thier colours*/
body {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #ef1010;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a.active {
  background-color: #333333;
}

.section_one{
   background-color: #575659; /* this is the code for the section background colour */
    border-left: 5px solid #000000; /* this is the code for the edge of the section colour */
    padding: 14px 20px;
    margin: 24px 0;
    color: white;
    
}

.section_two{
   background-color: #a3a3a3; /* this is the code for the section background colour */
    border-left: 5px solid #000000; /* this is the code for the edge colour*/
    padding: 14px 20px;
    margin: 24px 0;

}

.over_lay{
  position: absolute;
  font-size: 700px; /* HUGE text */
  color: rgba(0, 0, 0, 0.05); /* very light/transparent */
  top: 1.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 1;
  pointer-events: none; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title{
  color: white;
  text-align: center;
}

.image{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px);
}

.test{
  color: #333333;
  text-align: center;
  font-size: 30px;
}

.color_title{
  color: #ef1010;
}
.page_5_styleing{
  padding-left: 600px;
  
}

.nav-text{
  font-size: 16px;
  padding-left: 1290px;
}

.footer{
  font-size: 20px;
  padding-left: 8px;
}